@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import "tailwindcss";

:root {
  background: url(../public/bg-pink.webp);
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Chewy', cursive;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
